.circle {
  position: fixed;
  top: 13px;
  right: 26px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: currentColor;
  border-radius: 50%;
  transition: border-color 250ms ease;
}

@media (min-width: 768px) {
  .circle {
    right: 35px;
  }
}

@media (min-width: 1280px) {
  .circle {
    right: calc((100vw - 1280px) / 2 + 35px);
  }
}

.circle:hover,
.circle:focus {
  border-color: orange;
}

.circle:hover .cart,
.circle:focus .cart {
  color: orange;
}

.circle:hover .amount,
.circle:focus .amount {
  border-color: black;
  color: orange;
}

.cart {
  transition: color 250ms ease;
}

.amount {
  position: absolute;
  top: -5px;
  right: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid;
  border-color: orange;
  border-radius: 50%;
  color: black;
  transition: border-color 250ms ease, color 250ms ease;
}
