@media (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (min-width: 1280px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}
